</div>
</div>
</div>
</div>

<!-- Required Jqurey -->
<script type="text/javascript" src="../bower_components/jquery/js/jquery.min.js"></script>
<script src="../bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../bower_components/popper.js/js/popper.min.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/doch.js"></script>

<!-- jquery slimscroll js -->
<script type="text/javascript" src="../bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<!-- <script type="text/javascript" src="../bower_components/modernizr/js/modernizr.js"></script>
<script type="text/javascript" src="../bower_components/modernizr/js/css-scrollbars.js"></script> -->
<!-- Calender js -->
<!-- <script type="text/javascript" src="../bower_components/moment/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/pages/widget/calender/pignose.calendar.min.js"></script> -->

<script src="/assets/js/jquery.chainedTo.min.js" type="text/javascript" charset="utf-8"></script>
<% include ../partials/chained %>
<!-- classie js -->
<!-- data-table js -->
<script src="../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/assets/pages/data-table/js/jszip.min.js"></script>
<script src="/assets/pages/data-table/js/pdfmake.min.js"></script>
<script src="/assets/pages/data-table/js/vfs_fonts.js"></script>
<script src="../bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="/assets/pages/data-table/extensions/buttons/js/dataTables.buttons.min.js"></script>
<script src="/assets/pages/data-table/extensions/buttons/js/buttons.flash.min.js"></script>
<script src="/assets/pages/data-table/extensions/buttons/js/jszip.min.js"></script>
<script src="/assets/pages/data-table/extensions/buttons/js/pdfmake.min.js"></script>
<script src="/assets/pages/data-table/extensions/buttons/js/vfs_fonts.js"></script>
<script src="/assets/pages/data-table/extensions/buttons/js/buttons.colVis.min.js"></script>
<script src="/assets/pages/data-table/extensions/buttons/js/pdfmake.min.js"></script>

<!-- c3 chart js -->
<!-- <script src="../bower_components/d3/js/d3.min.js"></script>
<script src="../bower_components/c3/js/c3.js"></script> -->
<!-- classie js -->
<!-- <script type="text/javascript" src="/assets/js/modal.js"></script>
<script type="text/javascript" src="/assets/js/modalEffects.js"></script>
<script type="text/javascript" src="/assets/js/classie.js"></script>
<script type="text/javascript" src="../bower_components/classie/js/classie.js"></script> -->
<!-- pnotify js -->
<!-- <script type="text/javascript" src="../bower_components/pnotify/js/pnotify.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/js/pnotify.desktop.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/js/pnotify.buttons.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/js/pnotify.confirm.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/js/pnotify.callbacks.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/js/pnotify.animate.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/js/pnotify.history.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/js/pnotify.mobile.js"></script>
<script type="text/javascript" src="../bower_components/pnotify/js/pnotify.nonblock.js"></script>
<script type="text/javascript" src="/assets/pages/pnotify/notify.js"></script> -->
<!-- Chartlist charts -->
<!-- <script src="../bower_components/chartist/js/chartist.js"></script>
<script src="/assets/pages/chart/chartlist/js/chartist-plugin-threshold.js"></script> -->
<!-- Select 2 js -->
<script type="text/javascript" src="../bower_components/select2/js/select2.full.min.js"></script>
<!-- Multiselect js -->
<!-- <script type="text/javascript" src="../bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="../bower_components/multiselect/js/jquery.multi-select.js"></script> -->
<!-- <script type="text/javascript" src="/assets/js/jquery.quicksearch.js"></script> -->
<!-- knob js -->
<!-- <script src="/assets/pages/chart/knob/jquery.knob.js"></script>
<script type="text/javascript" src="/assets/pages/widget/jquery.sparkline.js"></script> -->
<!-- Rickshow Chart js -->
<!-- <script src="../bower_components/d3/js/d3.js"></script>
<script src="../bower_components/rickshaw/js/rickshaw.js"></script> -->
<!-- Morris Chart js -->
<!-- <script src="../bower_components/raphael/js/raphael.min.js"></script>
<script src="../bower_components/morris.js/js/morris.js"></script> -->
<!-- Float Chart js -->
<!-- <script src="/assets/pages/chart/float/jquery.flot.js"></script>
<script src="/assets/pages/chart/float/jquery.flot.categories.js"></script>
<script src="/assets/pages/chart/float/jquery.flot.pie.js"></script> -->
<!-- Horizontal-Timeline js -->
<!-- <script type="text/javascript" src="/assets/pages/dashboard/horizontal-timeline/js/main.js"></script> -->
<!-- amchart js -->
<!-- <script type="text/javascript" src="/assets/pages/dashboard/amchart/js/amcharts.js"></script>
<script type="text/javascript" src="/assets/pages/dashboard/amchart/js/serial.js"></script>
<script type="text/javascript" src="/assets/pages/dashboard/amchart/js/light.js"></script>
<script type="text/javascript" src="/assets/pages/dashboard/amchart/js/custom-amchart.js"></script> -->
<!-- i18next.min.js -->
<script type="text/javascript" src="../bower_components/i18next/js/i18next.min.js"></script>
<script type="text/javascript" src="../bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script type="text/javascript" src="../bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script type="text/javascript" src="../bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>

<!--Forms - Wizard js-->
<!-- <script src="../bower_components/jquery.cookie/js/jquery.cookie.js"></script>
<script src="../bower_components/jquery.steps/js/jquery.steps.js"></script> -->
<!-- <script src="../bower_components/jquery-validation/js/jquery.validate.js"></script> -->


<!-- Custom js -->
<script src="/assets/pages/data-table/extensions/buttons/js/extension-btns-custom.js"></script>
<!-- <script src="/assets/pages/chart/morris/morris-custom-chart.js"></script> -->
<!-- <script src="assets/pages/forms-wizard-validation/form-wizard.js"></script> -->
<!-- <script src="assets/pages/chart/c3/c3-custom-chart.js"></script> -->
<script type="text/javascript" src="/assets/pages/social-timeline/social.js"></script>
<script type="text/javascript" src="/assets/pages/data-table/js/data-table-custom.js"></script>
<!-- <script type="text/javascript" src="/assets/pages/dashboard/custom-dashboard.js"></script> -->
<script type="text/javascript" src="/assets/js/script.js"></script>
<script type="text/javascript" src="/assets/pages/advance-elements/select2-custom.js"></script>


<!-- Bootstrap date-time-picker js -->
<script type="text/javascript" src="/assets/pages/advance-elements/moment-with-locales.min.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/assets/pages/advance-elements/bootstrap-datetimepicker.min.js"></script>
<!-- Date-range picker js -->
<script type="text/javascript" src="../bower_components/bootstrap-daterangepicker/js/daterangepicker.js"></script>
<!-- Date-dropper js -->
<script type="text/javascript" src="../bower_components/datedropper/js/datedropper.min.js"></script>

<!-- pcmenu js -->
<script src="/assets/js/pcoded.min.js"></script>
<script src="/assets/js/demo-12.js"></script>
<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/assets/js/jquery.mousewheel.min.js"></script>
<!-- JqueryPrintArea -->
<script src="../bower_components/JqueryPrintArea/demo/jquery.PrintArea.js"></script>
<script src="/assets/js/invoice.js"></script>
<!-- <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> -->
<!-- <script src="/assets/js/chat.js"></script> -->
<script src="/assets/js/jquery.multifield.min.js"></script>

<!-- <script type="text/javascript" src="/js/jquery.steps.min.js"></script> -->



 <!-- Form validator JavaScript -->
 <!-- <script src="/assets/js/validation.js"></script>
 <script src="/assets/js/form-validation.js"></script> -->
</body>

</html>