<select name="lga" id="lga" class="form-control localgovt" style="width: 100%" required>
    <option selected disabled data-available-with="">Select LGA</option>
    <option data-available-with="Abia">Aba North</option>
    <option data-available-with="Abia">Aba South</option>
    <option data-available-with="Abia">Arochukwu</option>
    <option data-available-with="Abia">Bende</option>
    <option data-available-with="Abia">Isiala Ngwa South</option>
    <option data-available-with="Abia">Ikwuano</option>
    <option data-available-with="Abia">Isiala</option>
    <option data-available-with="Abia">Ngwa North</option>
    <option data-available-with="Abia">Isukwuato</option>
    <option data-available-with="Abia">Ukwa West</option>
    <option data-available-with="Abia">Ukwa East</option>
    <option data-available-with="Abia">Umuahia</option>
    <option data-available-with="Abia">Umuahia South</option>
    <option data-available-with="Adamawa">Demsa</option>
    <option data-available-with="Adamawa">Fufore</option>
    <option data-available-with="Adamawa">Ganye</option>
    <option data-available-with="Adamawa">Girei</option>
    <option data-available-with="Adamawa">Gombi</option>
    <option data-available-with="Adamawa">Jada</option>
    <option data-available-with="Adamawa">Yola North</option>
    <option data-available-with="Adamawa">Lamurde</option>
    <option data-available-with="Adamawa">Madagali</option>
    <option data-available-with="Adamawa">Maiha</option>
    <option data-available-with="Adamawa">Mayo-Belwa</option>
    <option data-available-with="Adamawa">Michika</option>
    <option data-available-with="Adamawa">Mubi South</option>
    <option data-available-with="Adamawa">Numna</option>
    <option data-available-with="Adamawa">Shelleng</option>
    <option data-available-with="Adamawa">Song</option>
    <option data-available-with="Adamawa">Toungo</option>
    <option data-available-with="Adamawa">Jimeta</option>
    <option data-available-with="Adamawa">Yola South</option>
    <option data-available-with="Adamawa">Huanam</option>
    <option data-available-with="Anambra">Aguata</option>
    <option data-available-with="Anambra">anambra</option>
    <option data-available-with="Anambra">anambra West</option>
    <option data-available-with="Anambra">Anaocha</option>                                      
    <option data-available-with="Anambra">Awka South</option>                                      
    <option data-available-with="Anambra">Awka North</option>                                      
    <option data-available-with="Anambra">Ogbaru</option>                                      
    <option data-available-with="Anambra">Onitsha South</option>                                      
    <option data-available-with="Anambra">Onitsha North</option>                                      
    <option data-available-with="Anambra">Orumba North</option>                                      
    <option data-available-with="Anambra">Orumba South</option>                                      
    <option data-available-with="Anambra">Oyi</option>                                     
    <option data-available-with="Akwa-Ibom">Abak</option>                                      
    <option data-available-with="Akwa-Ibom">Eastern Obolo</option>                                      
    <option data-available-with="Akwa-Ibom">Eket</option>                                      
    <option data-available-with="Akwa-Ibom">Essien Udim</option>                                      
    <option data-available-with="Akwa-Ibom">Etimekpo</option>                                      
    <option data-available-with="Akwa-Ibom">Etinan</option>                                      
    <option data-available-with="Akwa-Ibom">Ibeno</option>                                      
    <option data-available-with="Akwa-Ibom">Ibesikpo Asutan</option>                                   
    <option data-available-with="Akwa-Ibom">Ibiono Ibom</option>                                      
    <option data-available-with="Akwa-Ibom">Ika</option>                                      
    <option data-available-with="Akwa-Ibom">Ikono</option>                                      
    <option data-available-with="Akwa-Ibom">Ikot Abasi</option>                                      
    <option data-available-with="Akwa-Ibom">Ikot Ekpene</option>                                      
    <option data-available-with="Akwa-Ibom">Ini</option>                                      
    <option data-available-with="Akwa-Ibom">Itu</option>                                      
    <option data-available-with="Akwa-Ibom">Mbo</option>                                      
    <option data-available-with="Akwa-Ibom">Mkpat Enin</option>                                      
    <option data-available-with="Akwa-Ibom">Nsit Ibom</option>                                      
    <option data-available-with="Akwa-Ibom">Nsit Ubium</option>                                      
    <option data-available-with="Akwa-Ibom">Obot Akara</option>                                      
    <option data-available-with="Akwa-Ibom">Okobo</option>                                      
    <option data-available-with="Akwa-Ibom">Onna</option>                                      
    <option data-available-with="Akwa-Ibom">Orukanam</option>                                      
    <option data-available-with="Akwa-Ibom">Oron</option>                                      
    <option data-available-with="Akwa-Ibom">Udung Uko</option>                                      
    <option data-available-with="Akwa-Ibom">Ukanafun</option>                                      
    <option data-available-with="Akwa-Ibom">Esit Eket</option>                                      
    <option data-available-with="Akwa-Ibom">Uruan</option>                                      
    <option data-available-with="Akwa-Ibom">Urue Offoung</option>                                      
    <option data-available-with="Akwa-Ibom">Oruko Ete</option>                             
    <option data-available-with="Akwa-Ibom">Uyo</option>                                      
    <option data-available-with="Bauchi">Alkaleri</option>                                      
    <option data-available-with="Bauchi">Bauchi</option>                                      
    <option data-available-with="Bauchi">Bogoro</option>                                      
    <option data-available-with="Bauchi">Darazo</option>                                      
    <option data-available-with="Bauchi">Dass</option>                                      
    <option data-available-with="Bauchi">Gamawa</option>                                      
    <option data-available-with="Bauchi">Ganjuwa</option>                                      
    <option data-available-with="Bauchi">Giade</option>                                      
    <option data-available-with="Bauchi">Jama`are</option>                                      
    <option data-available-with="Bauchi">Katagum</option>                                      
    <option data-available-with="Bauchi">Kirfi</option>                                      
    <option data-available-with="Bauchi">Misau</option>                                      
    <option data-available-with="Bauchi">Ningi</option>                                      
    <option data-available-with="Bauchi">hira</option>                                      
    <option data-available-with="Bauchi">Tafawa Balewa</option>                                      
    <option data-available-with="Bauchi">Itas gadau</option>                                      
    <option data-available-with="Bauchi">Toro</option>                                      
    <option data-available-with="Bauchi">Warji</option>                                      
    <option data-available-with="Bauchi">Dambam</option>                           
    <option data-available-with="Bayelsa">Brass</option>                                      
    <option data-available-with="Bayelsa">Ekeremor</option>                                      
    <option data-available-with="Bayelsa">Kolok/Opokuma</option>                                      
    <option data-available-with="Bayelsa">Nembe</option>                                      
    <option data-available-with="Bayelsa">Ogbia</option>                                      
    <option data-available-with="Bayelsa">Sagbama</option>                                      
    <option data-available-with="Bayelsa">Southern Ijaw</option>                                      
    <option data-available-with="Bayelsa">Yenagoa</option>                                      
    <option data-available-with="Bayelsa">Membe</option>                                
    <option data-available-with="Benue">Ador</option>                                      
    <option data-available-with="Benue">Agatu</option>                                      
    <option data-available-with="Benue">Apa</option>                                      
    <option data-available-with="Benue">Buruku</option>                                      
    <option data-available-with="Benue">Gboko</option>                                      
    <option data-available-with="Benue">Guma</option>                                      
    <option data-available-with="Benue">Gwer east</option>                                      
    <option data-available-with="Benue">Gwer west</option>                                      
    <option data-available-with="Benue">Kastina-Ala</option>                                      
    <option data-available-with="Benue">Konshisha</option>                                      
    <option data-available-with="Benue">Kwande</option>                                      
    <option data-available-with="Benue">Logo</option>                                      
    <option data-available-with="Benue">Makurdi</option>                                      
    <option data-available-with="Benue">Obi</option>                                      
    <option data-available-with="Benue">Ogbadibo</option>                                      
    <option data-available-with="Benue">Ohimini</option>                                      
    <option data-available-with="Benue">Oju</option>                                      
    <option data-available-with="Benue">Okpokwu</option>                                      
    <option data-available-with="Benue">Oturkpo</option>                                      
    <option data-available-with="Benue">Tarka</option>                                      
    <option data-available-with="Benue">Ukum</option>                                      
    <option data-available-with="Benue">Vandekya</option>                                 
    <option data-available-with="Borno">Abadan</option>                                      
    <option data-available-with="Borno">Askira/Uba</option>                                      
    <option data-available-with="Borno">Bama</option>                                      
    <option data-available-with="Borno">Bayo</option>                                      
    <option data-available-with="Borno">Biu</option>                                      
    <option data-available-with="Borno">Chibok</option>                                      
    <option data-available-with="Borno">Damboa</option>                                      
    <option data-available-with="Borno">Dikwagubio</option>                                      
    <option data-available-with="Borno">Guzamala</option>                                      
    <option data-available-with="Borno">Gwoza</option>                                      
    <option data-available-with="Borno">Hawul</option>                                      
    <option data-available-with="Borno">Jere</option>                                      
    <option data-available-with="Borno">Kaga</option>                                      
    <option data-available-with="Borno">Kalka/Balge</option>                                      
    <option data-available-with="Borno">Konduga</option>                                      
    <option data-available-with="Borno">Kukawa</option>                                      
    <option data-available-with="Borno">Kwaya-ku</option>                                      
    <option data-available-with="Borno">Mafa</option>                                      
    <option data-available-with="Borno">Magumeri</option>                                      
    <option data-available-with="Borno">Maiduguri</option>                                      
    <option data-available-with="Borno">Marte</option>                                      
    <option data-available-with="Borno">Mobbar</option>                                      
    <option data-available-with="Borno">Monguno</option>                                      
    <option data-available-with="Borno">Ngala</option>                                      
    <option data-available-with="Borno">Nganzai</option>                                      
    <option data-available-with="Borno">Shani</option>                            
    <option data-available-with="Cross-river">Abia</option>                                      
    <option data-available-with="Cross-river">Akampa</option>                                      
    <option data-available-with="Cross-river">Akpabuyo</option>                                      
    <option data-available-with="Cross-river">Bakassi</option>                                      
    <option data-available-with="Cross-river">Bekwara</option>                                      
    <option data-available-with="Cross-river">Biase</option>                                      
    <option data-available-with="Cross-river">Boki</option>                                      
    <option data-available-with="Cross-river">Calabar south</option>                                      
    <option data-available-with="Cross-river">Etung</option>                                      
    <option data-available-with="Cross-river">Ikom</option>                                      
    <option data-available-with="Cross-river">Obanliku</option>                                      
    <option data-available-with="Cross-river">Obubra</option>                                      
    <option data-available-with="Cross-river">Obudu</option>                                      
    <option data-available-with="Cross-river">Odukpani</option>                                      
    <option data-available-with="Cross-river">Ogoja</option>                                      
    <option data-available-with="Cross-river">Ugep north</option>                                      
    <option data-available-with="Cross-river">Yala</option>                                      
    <option data-available-with="Cross-river">Yarkur</option>                                     
    <option data-available-with="Delta">Aniocha south</option>                                      
    <option data-available-with="Delta">Anioha</option>                                      
    <option data-available-with="Delta">Bomadi</option>                                      
    <option data-available-with="Delta">Burutu</option>                                      
    <option data-available-with="Delta">Ethiope west</option>                                      
    <option data-available-with="Delta">Ethiope east</option>                                      
    <option data-available-with="Delta">Ika south</option>                                      
    <option data-available-with="Delta">Ika north east</option>                                     
    <option data-available-with="Delta">Isoko south</option>                                      
    <option data-available-with="Delta">Isoko north</option>                                      
    <option data-available-with="Delta">Ndokwa east</option>                                      
    <option data-available-with="Delta">Ndokwa west</option>                                      
    <option data-available-with="Delta">Okpe</option>                                      
    <option data-available-with="Delta">Oshimili north</option>                                     
    <option data-available-with="Delta">Oshimili south</option>                                     
    <option data-available-with="Delta">Patani</option>                                      
    <option data-available-with="Delta">Sapele</option>                                      
    <option data-available-with="Delta">Udu</option>                                      
    <option data-available-with="Delta">Ughelli south</option>                                      
    <option data-available-with="Delta">Ughelli north</option>                                      
    <option data-available-with="Delta">Ukwuani</option>                                      
    <option data-available-with="Delta">Uviwie</option>                                      
    <option data-available-with="Delta">Warri central</option>                                      
    <option data-available-with="Delta">Warri north</option>                                      
    <option data-available-with="Delta">Warri south</option>                                     
    <option data-available-with="Ebonyi">Abakaliki</option>                                      
    <option data-available-with="Ebonyi">Afikpo south</option>                                      
    <option data-available-with="Ebonyi">Afikpo north</option>                                      
    <option data-available-with="Ebonyi">Ebonyi</option>                                      
    <option data-available-with="Ebonyi">Ezza</option>                                      
    <option data-available-with="Ebonyi">Ezza south</option>                                      
    <option data-available-with="Ebonyi">Ikwo</option>                                      
    <option data-available-with="Ebonyi">Ishielu</option>                                      
    <option data-available-with="Ebonyi">Ivo</option>                                      
    <option data-available-with="Ebonyi">Ohaozara</option>                                      
    <option data-available-with="Ebonyi">Ohaukwu</option>                                      
    <option data-available-with="Ebonyi">Onicha</option>                                      
    <option data-available-with="Ebonyi">Izzi</option>                                   
    <option data-available-with="Edo">Akoko-Edo</option>                                      
    <option data-available-with="Edo">Egor</option>                                      
    <option data-available-with="Edo">Essann east</option>                                      
    <option data-available-with="Edo">Esan south east</option>                                     
    <option data-available-with="Edo">Esan central</option>                                      
    <option data-available-with="Edo">Esan west</option>                                      
    <option data-available-with="Edo">Etsako central</option>                                      
    <option data-available-with="Edo">Etsako east</option>                                      
    <option data-available-with="Edo">Etsako</option>                                      
    <option data-available-with="Edo">Orhionwon</option>                                      
    <option data-available-with="Edo">Ivia north</option>                                      
    <option data-available-with="Edo">Ovia south west</option>                                     
    <option data-available-with="Edo">Owan west</option>                                      
    <option data-available-with="Edo">Owan south</option>                                      
    <option data-available-with="Edo">Uhunwonde</option>                                     
    <option data-available-with="Ekiti">Ado Ekiti</option>                                      
    <option data-available-with="Ekiti">Effon Alaiye</option>                                      
    <option data-available-with="Ekiti">Ekiti south west</option>                                   
    <option data-available-with="Ekiti">Ekiti west</option>                                      
    <option data-available-with="Ekiti">Ekiti east</option>                                      
    <option data-available-with="Ekiti">Emure/ise</option>                                      
    <option data-available-with="Ekiti">Orun</option>                                      
    <option data-available-with="Ekiti">Ido</option>                                      
    <option data-available-with="Ekiti">Osi</option>                                      
    <option data-available-with="Ekiti">Ijero</option>                                      
    <option data-available-with="Ekiti">Ikere</option>                                      
    <option data-available-with="Ekiti">Ikole</option>                                      
    <option data-available-with="Ekiti">Ilejemeje</option>                                      
    <option data-available-with="Ekiti">Irepodun</option>                                      
    <option data-available-with="Ekiti">Ise/Orun</option>                                      
    <option data-available-with="Ekiti">Moba</option>                                      
    <option data-available-with="Ekiti">Oye</option>                                      
    <option data-available-with="Ekiti">Aiyekire</option>                                       -->
    <option data-available-with="FCT">Abaji</option>                                      
    <option data-available-with="FCT">Abuja Municipal</option>                                      
    <option data-available-with="FCT">Bwari</option>   
    <option data-available-with="FCT">Gwagwalada</option>                                    
    <option data-available-with="FCT">Kwali</option>                                                                           
    <option data-available-with="FCT">Kuje</option>                              
    <option data-available-with="Gombe">Akko</option>                                      
    <option data-available-with="Gombe">Balanga</option>                                      
    <option data-available-with="Gombe">Billiri</option>                                      
    <option data-available-with="Gombe">Dukku</option>                                      
    <option data-available-with="Gombe">Funakaye</option>                                      
    <option data-available-with="Gombe">Gombe</option>                                      
    <option data-available-with="Gombe">Kaltungo</option>                                      
    <option data-available-with="Gombe">Kwami</option>                                      
    <option data-available-with="Gombe">Nafada</option>                                      
    <option data-available-with="Gombe">Shongom</option>                                      
    <option data-available-with="Gombe">Yamaltu/Deba</option>                                                                          
    <option data-available-with="Imo">Aboh Mbaise</option>                                      
    <option data-available-with="Imo">Ahiazu Mbaise</option>                                      
    <option data-available-with="Imo">Ehime Mbano</option>                                      
    <option data-available-with="Imo">Ezinihitte Mbaise</option>                                      
    <option data-available-with="Imo">Ideato North</option>                                      
    <option data-available-with="Imo">Ideato South</option>                                      
    <option data-available-with="Imo">Ihitte/Uboma</option>                                      
    <option data-available-with="Imo">Ikeduru</option>                                      
    <option data-available-with="Imo">Isiala Mbano</option>                                      
    <option data-available-with="Imo">Isu</option>                                      
    <option data-available-with="Imo">Mbaitoli</option>                                      
    <option data-available-with="Imo">Ngor Okpala</option>                                      
    <option data-available-with="Imo">Njaba</option>                                      
    <option data-available-with="Imo">Nkwerre</option>                                      
    <option data-available-with="Imo">Nwangele</option>                                      
    <option data-available-with="Imo">Obowo</option>                                      
    <option data-available-with="Imo">Oguta</option>                                      
    <option data-available-with="Imo">Ohaji/Egbema</option>                                      
    <option data-available-with="Imo">Okigwe</option>                                      
    <option data-available-with="Imo">Onuimo</option>                                      
    <option data-available-with="Imo">Orlu</option>                                      
    <option data-available-with="Imo">Orsu</option>                                      
    <option data-available-with="Imo">Oru East</option>                                      
    <option data-available-with="Imo">Oru West</option>                                      
    <option data-available-with="Imo">Owerri Municipal</option>                                      
    <option data-available-with="Imo">Owerri North</option>                                      
    <option data-available-with="Imo">Owerri West</option>                                                                            
    <option data-available-with="Jigawa">Auyo</option>                                      
    <option data-available-with="Jigawa">Babura</option>                                      
    <option data-available-with="Jigawa">Biriniwa</option>                                      
    <option data-available-with="Jigawa">Birnin Kudu</option>                                      
    <option data-available-with="Jigawa">Buji</option>                                      
    <option data-available-with="Jigawa">Dutse</option>                                      
    <option data-available-with="Jigawa">Gagarawa</option>                                      
    <option data-available-with="Jigawa">Garki</option>                                      
    <option data-available-with="Jigawa">Gumel</option>                                      
    <option data-available-with="Jigawa">Guri</option>                                      
    <option data-available-with="Jigawa">Gwaram</option>                                      
    <option data-available-with="Jigawa">Gwiwa</option>                                      
    <option data-available-with="Jigawa">Hadejia</option>                                      
    <option data-available-with="Jigawa">Jahun</option>                                      
    <option data-available-with="Jigawa">Kafin Hausa</option>                                      
    <option data-available-with="Jigawa">Kaugama</option>                                      
    <option data-available-with="Jigawa">Kazaure</option>                                      
    <option data-available-with="Jigawa">Kiri Kasama</option>                                      
    <option data-available-with="Jigawa">Kiyawa</option>                                      
    <option data-available-with="Jigawa">Maigatari</option>                                      
    <option data-available-with="Jigawa">Malam Madori</option>                                      
    <option data-available-with="Jigawa">Miga</option>                                      
    <option data-available-with="Jigawa">Ringim</option>                                      
    <option data-available-with="Jigawa">Roni</option>                                      
    <option data-available-with="Jigawa">Sule Tankarkar</option>                                      
    <option data-available-with="Jigawa">Taura</option>                                      
    <option data-available-with="Jigawa">Yankwashi</option>                                                                           
    <option data-available-with="Kaduna">Birnin Gwari</option>                                      
    <option data-available-with="Kaduna">Chikun</option>                                      
    <option data-available-with="Kaduna">Giwa</option>                                      
    <option data-available-with="Kaduna">Igabi</option>                                      
    <option data-available-with="Kaduna">Ikara</option>                                      
    <option data-available-with="Kaduna">Jaba</option>                                      
    <option data-available-with="Kaduna">Jema'a</option>                                      
    <option data-available-with="Kaduna">Kachia</option>                                      
    <option data-available-with="Kaduna">Kaduna North</option>                                      
    <option data-available-with="Kaduna">Kaduna South</option>                                      
    <option data-available-with="Kaduna">Kagarko</option>                                      
    <option data-available-with="Kaduna">Kajuru</option>                                      
    <option data-available-with="Kaduna">Kaura</option>                                      
    <option data-available-with="Kaduna">Kauru</option>                                      
    <option data-available-with="Kaduna">Kubau</option>                                      
    <option data-available-with="Kaduna">Kudan</option>                                      
    <option data-available-with="Kaduna">Lere</option>                                      
    <option data-available-with="Kaduna">Makarfi</option>                                      
    <option data-available-with="Kaduna">Sabon Gari</option>                                      
    <option data-available-with="Kaduna">Sanga</option>                                      
    <option data-available-with="Kaduna">Soba</option>                                      
    <option data-available-with="Kaduna">Zangon Kataf</option>                                      
    <option data-available-with="Kaduna">Zaria</option>                                                                          
    <option data-available-with="Kano">Fagge</option>                                      
    <option data-available-with="Kano">Dala</option>                                      
    <option data-available-with="Kano">Gwale</option>                                      
    <option data-available-with="Kano">Kano Municipal</option>                                      
    <option data-available-with="Kano">Tarauni</option>                                      
    <option data-available-with="Kano">Nassarawa</option>                                      
    <option data-available-with="Kano">Kumbotso</option>                                      
    <option data-available-with="Kano">Ungogo</option>                                      
    <option data-available-with="Kano">Kano Metropolitan Area</option>                                      
    <option data-available-with="Kano">Dawakin Tofa</option>                                      
    <option data-available-with="Kano">Tofa</option>                                      
    <option data-available-with="Kano">Rimin Gado</option>                                      
    <option data-available-with="Kano">Bagwai</option>                                      
    <option data-available-with="Kano">Gezawa</option>                                      
    <option data-available-with="Kano">Gabasawa</option>                                      
    <option data-available-with="Kano">Minjibir</option>                                      
    <option data-available-with="Kano">Dambatta</option>                                      
    <option data-available-with="Kano">Makoda</option>                                      
    <option data-available-with="Kano">Kunchi</option>                                      
    <option data-available-with="Kano">Bichi</option>                                      
    <option data-available-with="Kano">Tsanyawa</option>                                      
    <option data-available-with="Kano">Shanono</option>                                      
    <option data-available-with="Kano">Gwarzo</option>                                      
    <option data-available-with="Kano">Karaye</option>                                      
    <option data-available-with="Kano">Rogo</option>                                      
    <option data-available-with="Kano">Kabo</option>                                      
    <option data-available-with="Kano">Northern Kano State</option>                                      
    <option data-available-with="Kano">Bunkure</option>                                      
    <option data-available-with="Kano">Kibiya</option>                                      
    <option data-available-with="Kano">Rano</option>                                      
    <option data-available-with="Kano">Tudun Wada</option>                                      
    <option data-available-with="Kano">Doguwa</option>                                      
    <option data-available-with="Kano">Madobi</option>                                      
    <option data-available-with="Kano">Kura</option>                                      
    <option data-available-with="Kano">Garun Mallam</option>                                      
    <option data-available-with="Kano">Bebeji</option>                                      
    <option data-available-with="Kano">Kiru</option>                                      
    <option data-available-with="Kano">Sumaila</option>                                      
    <option data-available-with="Kano">Garko</option>                                      
    <option data-available-with="Kano">Takai</option>                                      
    <option data-available-with="Kano">Albasu</option>                                      
    <option data-available-with="Kano">Gaya</option>                                      
    <option data-available-with="Kano">Ajingi</option>                                      
    <option data-available-with="Kano">Wudil</option>                                      
    <option data-available-with="Kano">Warawa</option>                                      
    <option data-available-with="Kano">Dawakin Kudu</option>                                      
    <option data-available-with="Kano">Southern Kano State</option>                                      
    <option data-available-with="Katsina">Bakori</option>                                      
    <option data-available-with="Katsina">Batagarawa</option>                                      
    <option data-available-with="Katsina">Batsari</option>                                      
    <option data-available-with="Katsina">Baure</option>                                      
    <option data-available-with="Katsina">Bindawa</option>                                      
    <option data-available-with="Katsina">Charanchi</option>                                      
    <option data-available-with="Katsina">Dan Musa</option>                                      
    <option data-available-with="Katsina">Dandume</option>                                      
    <option data-available-with="Katsina">Danja</option>                                      
    <option data-available-with="Katsina">Daura</option>                                      
    <option data-available-with="Katsina">Dutsin-Ma</option>                                      
    <option data-available-with="Katsina">Faskari</option>                                      
    <option data-available-with="Katsina">Funtua</option>                                      
    <option data-available-with="Katsina">Ingawa</option>                                      
    <option data-available-with="Katsina">Jibia</option>                                      
    <option data-available-with="Katsina">Kafur</option>                                      
    <option data-available-with="Katsina">Kaita</option>                                      
    <option data-available-with="Katsina">Kankara</option>                                      
    <option data-available-with="Katsina">Kankia</option>                                      
    <option data-available-with="Katsina">Katsina</option>                                      
    <option data-available-with="Katsina">Kurfi</option>                                      
    <option data-available-with="Katsina">Kusada</option>                                      
    <option data-available-with="Katsina">Mai'Adua</option>                                      
    <option data-available-with="Katsina">Malumfashi</option>                                      
    <option data-available-with="Katsina">Mani</option>                                      
    <option data-available-with="Katsina">Mashi</option>                                      
    <option data-available-with="Katsina">Matazu</option>                                      
    <option data-available-with="Katsina">Musawa</option>                                      
    <option data-available-with="Katsina">Rimi</option>                                      
    <option data-available-with="Katsina">Sabuwa</option>                                      
    <option data-available-with="Katsina">Safana</option>                                      
    <option data-available-with="Katsina">Sandamu</option>                                      
    <option data-available-with="Katsina">Zango</option>                                      
    <option data-available-with="Kebbi">Aleiro</option>                                      
    <option data-available-with="Kebbi">Arewa Dandi</option>                                      
    <option data-available-with="Kebbi">Argungu</option>                                      
    <option data-available-with="Kebbi">Augie</option>                                      
    <option data-available-with="Kebbi">Bagudo</option>                                      
    <option data-available-with="Kebbi">Birnin Kebbi</option>                                      
    <option data-available-with="Kebbi">Bunza</option>                                      
    <option data-available-with="Kebbi">Dandi</option>                                      
    <option data-available-with="Kebbi">Fakai</option>                                      
    <option data-available-with="Kebbi">Gwandu</option>                                      
    <option data-available-with="Kebbi">Jega</option>                                      
    <option data-available-with="Kebbi">Kalgo</option>                                      
    <option data-available-with="Kebbi">Koko/Besse</option>                                      
    <option data-available-with="Kebbi">Maiyama</option>                                      
    <option data-available-with="Kebbi">Ngaski</option>                                      
    <option data-available-with="Kebbi">Sakaba</option>                                      
    <option data-available-with="Kebbi">Shanga</option>                                      
    <option data-available-with="Kebbi">Suru</option>                                      
    <option data-available-with="Kebbi">Danko/Wasagu</option>                                      
    <option data-available-with="Kebbi">Yauri</option>                                      
    <option data-available-with="Kebbi">Zuru</option>                                                                           
    <option data-available-with="Kogi">Adavi</option>                                      
    <option data-available-with="Kogi">Ajaokuta</option>                                      
    <option data-available-with="Kogi">Ankpa</option>                                      
    <option data-available-with="Kogi">Bassa</option>                                      
    <option data-available-with="Kogi">Dekina</option>                                      
    <option data-available-with="Kogi">Ibaji</option>                                      
    <option data-available-with="Kogi">Idah</option>                                      
    <option data-available-with="Kogi">Igalamela-Odolu</option>                                      
    <option data-available-with="Kogi">Ijumu</option>                                      
    <option data-available-with="Kogi">Kabba/Bunu</option>                                      
    <option data-available-with="Kogi">Koton Karfe</option>                                      
    <option data-available-with="Kogi">Lokoja</option>                                      
    <option data-available-with="Kogi">Mopa-Muro</option>                                      
    <option data-available-with="Kogi">Ofu</option>                                      
    <option data-available-with="Kogi">Ogori/Magongo</option>                                      
    <option data-available-with="Kogi">Okehi</option>                                      
    <option data-available-with="Kogi">Okene</option>                                      
    <option data-available-with="Kogi">Olamaboro</option>                                      
    <option data-available-with="Kogi">Omala</option>                                      
    <option data-available-with="Kogi">Yagba East</option>                                      
    <option data-available-with="Kogi">Yagba West</option>                                                                           
    <option data-available-with="Kwara">Asa</option>                                      
    <option data-available-with="Kwara">Baruten</option>                                      
    <option data-available-with="Kwara">Edu</option>                                      
    <option data-available-with="Kwara">Ekiti</option>                                      
    <option data-available-with="Kwara">Ifelodun</option>                                      
    <option data-available-with="Kwara">Ilorin East</option>                                      
    <option data-available-with="Kwara">Ilorin South</option>                                      
    <option data-available-with="Kwara">Ilorin West</option>                                      
    <option data-available-with="Kwara">Irepodun</option>                                      
    <option data-available-with="Kwara">Isin</option>                                      
    <option data-available-with="Kwara">Kaiama</option>                                      
    <option data-available-with="Kwara">Moro</option>                                      
    <option data-available-with="Kwara">Offa</option>                                      
    <option data-available-with="Kwara">Oke Ero</option>                                      
    <option data-available-with="Kwara">Oyun</option>                                      
    <option data-available-with="Kwara">Pategi</option>                                                                           
    <option data-available-with="Lagos">Alimosho</option>                                      
    <option data-available-with="Lagos">Ajeromi-Ifelodun</option>                                      
    <option data-available-with="Lagos">Kosofe</option>                                      
    <option data-available-with="Lagos">Mushin</option>                                      
    <option data-available-with="Lagos">Oshodi-Isolo</option>                                      
    <option data-available-with="Lagos">Ojo</option>                                      
    <option data-available-with="Lagos">Ikorodu</option>                                      
    <option data-available-with="Lagos">Surulere</option>                                      
    <option data-available-with="Lagos">Agege</option>                                      
    <option data-available-with="Lagos">Ifako-Ijaiye</option>                                      
    <option data-available-with="Lagos">Somolu</option>                                      
    <option data-available-with="Lagos">Amuwo-Odofin</option>                                      
    <option data-available-with="Lagos">Lagos Mainland</option>                                      
    <option data-available-with="Lagos">Ikeja</option>                                      
    <option data-available-with="Lagos">Eti-Osa</option>                                      
    <option data-available-with="Lagos">Badagry</option>                                      
    <option data-available-with="Lagos">Apapa</option>                                      
    <option data-available-with="Lagos">Lagos Island</option>                                      
    <option data-available-with="Lagos">Epe</option>                                      
    <option data-available-with="Lagos">Ibeju-Lekki</option>                                                                           
    <option data-available-with="Nassarawa">Karu</option>                                      
    <option data-available-with="Nassarawa">Keffi</option>                                      
    <option data-available-with="Nassarawa">Kokona</option>                                      
    <option data-available-with="Nassarawa">Nasarawa</option>                                      
    <option data-available-with="Nassarawa">Toto</option>                                      
    <option data-available-with="Nassarawa">Akwanga</option>                                      
    <option data-available-with="Nassarawa">Nasarawa Egon</option>                                      
    <option data-available-with="Nassarawa">Wamba</option>                                      
    <option data-available-with="Nassarawa">Awe</option>                                      
    <option data-available-with="Nassarawa">Doma</option>                                      
    <option data-available-with="Nassarawa">Keana</option>                                      
    <option data-available-with="Nassarawa">Lafia</option>                                      
    <option data-available-with="Nassarawa">Obi</option>                                                                            
    <option data-available-with="Niger">Agaie</option>                                      
    <option data-available-with="Niger">Agwara</option>                                      
    <option data-available-with="Niger">Bida</option>                                      
    <option data-available-with="Niger">Borgu</option>                                      
    <option data-available-with="Niger">Bosso</option>                                      
    <option data-available-with="Niger">Chanchaga</option>                                      
    <option data-available-with="Niger">Edati</option>                                      
    <option data-available-with="Niger">Gbako</option>                                      
    <option data-available-with="Niger">Gurara</option>                                      
    <option data-available-with="Niger">Katcha</option>                                      
    <option data-available-with="Niger">Kontagora</option>                                      
    <option data-available-with="Niger">Lapai</option>                                      
    <option data-available-with="Niger">Lavun</option>                                      
    <option data-available-with="Niger">Magama</option>                                      
    <option data-available-with="Niger">Mariga</option>                                      
    <option data-available-with="Niger">Mashegu</option>                                      
    <option data-available-with="Niger">Mokwa</option>                                      
    <option data-available-with="Niger">Munya</option>                                      
    <option data-available-with="Niger">Paikoro</option>                                      
    <option data-available-with="Niger">Rafi</option>                                      
    <option data-available-with="Niger">Rijau</option>                                      
    <option data-available-with="Niger">Shiroro</option>                                      
    <option data-available-with="Niger">Suleja</option>                                      
    <option data-available-with="Niger">Tafa</option>                                      
    <option data-available-with="Niger">Wushishi</option>                                                                           
    <option data-available-with="Ogun">Abeokuta North</option>                                      
    <option data-available-with="Ogun">Abeokuta South</option>                                      
    <option data-available-with="Ogun">Ado-Odo/Ota</option>                                      
    <option data-available-with="Ogun">Ewekoro</option>                                      
    <option data-available-with="Ogun">Ifo</option>                                      
    <option data-available-with="Ogun">Ijebu East</option>                                      
    <option data-available-with="Ogun">Ijebu North</option>                                      
    <option data-available-with="Ogun">Ijebu North East</option>                                      
    <option data-available-with="Ogun">Ijebu Ode</option>                                      
    <option data-available-with="Ogun">Ikenne</option>                                      
    <option data-available-with="Ogun">Imeko Afon</option>                                      
    <option data-available-with="Ogun">Ipokia</option>                                      
    <option data-available-with="Ogun">Obafemi Owode</option>                                      
    <option data-available-with="Ogun">Odogbolu</option>                                      
    <option data-available-with="Ogun">Odeda</option>                                      
    <option data-available-with="Ogun">Ogun Waterside</option>                                      
    <option data-available-with="Ogun">Remo North</option>                                      
    <option data-available-with="Ogun">Sagamu</option>                                      
    <option data-available-with="Ogun">Yewa North</option>                                      
    <option data-available-with="Ogun">Yewa South</option>                                      
    <option data-available-with="Ondo">Akoko North-East</option>                                      
    <option data-available-with="Ondo">Akoko North-West</option>                                      
    <option data-available-with="Ondo">Akoko South-East</option>                                      
    <option data-available-with="Ondo">Akoko South-West </option>                                      
    <option data-available-with="Ondo">Akure North</option>                                      
    <option data-available-with="Ondo">Akure South</option>                                      
    <option data-available-with="Ondo">Ese Odo</option>                                      
    <option data-available-with="Ondo">Idanre</option>                                      
    <option data-available-with="Ondo">Ifedore</option>                                      
    <option data-available-with="Ondo">Ilaje</option>                                      
    <option data-available-with="Ondo">Ile Oluji/Okeigbo</option>                                      
    <option data-available-with="Ondo">Irele</option>                                      
    <option data-available-with="Ondo">Odigbo</option>                                      
    <option data-available-with="Ondo">Okitipupa</option>                                      
    <option data-available-with="Ondo">Ondo East</option>                                      
    <option data-available-with="Ondo">Ondo West</option>                                      
    <option data-available-with="Ondo">Ose</option>                                      
    <option data-available-with="Ondo">Owo</option>                                      
    <option data-available-with="Osun">Aiyedaade</option>                                      
    <option data-available-with="Osun">Aiyedire</option>                                      
    <option data-available-with="Osun">Atakunmosa East</option>                                      
    <option data-available-with="Osun">Atakunmosa West</option>                                      
    <option data-available-with="Osun">Boluwaduro</option>                                      
    <option data-available-with="Osun">Boripe</option>                                      
    <option data-available-with="Osun">Ede North</option>                                      
    <option data-available-with="Osun">Ede South</option>                                      
    <option data-available-with="Osun">Egbedore</option>                                      
    <option data-available-with="Osun">Ejigbo</option>                                      
    <option data-available-with="Osun">Ife Central</option>                                      
    <option data-available-with="Osun">Ife East</option>                                      
    <option data-available-with="Osun">Ife North</option>                                      
    <option data-available-with="Osun">Ife South</option>                                      
    <option data-available-with="Osun">Ifedayo</option>                                      
    <option data-available-with="Osun">Ifelodun</option>                                      
    <option data-available-with="Osun">Ila, Osun</option>                                      
    <option data-available-with="Osun">Ilesa East</option>                                      
    <option data-available-with="Osun">Ilesa West</option>                                      
    <option data-available-with="Osun">Irepodun</option>                                      
    <option data-available-with="Osun">Irewole</option>                                      
    <option data-available-with="Osun">Isokan</option>                                      
    <option data-available-with="Osun">Iwo</option>                                      
    <option data-available-with="Osun">Obokun</option>                                      
    <option data-available-with="Osun">Odo Otin</option>                                      
    <option data-available-with="Osun">Ola Oluwa</option>                                      
    <option data-available-with="Osun">Olorunda</option>                                      
    <option data-available-with="Osun">Oriade</option>                                      
    <option data-available-with="Osun">Orolu</option>                                      
    <option data-available-with="Osun">Osogbo</option>                                                                            
    <option data-available-with="Oyo">Afijio</option>                                      
    <option data-available-with="Oyo">Akinyele</option>                                      
    <option data-available-with="Oyo">Atiba</option>                                      
    <option data-available-with="Oyo">Atisbo</option>                                      
    <option data-available-with="Oyo">Egbeda</option>                                      
    <option data-available-with="Oyo">Ibadan North</option>                                      
    <option data-available-with="Oyo">Ibadan North-East</option>                                      
    <option data-available-with="Oyo">Ibadan North-West</option>                                      
    <option data-available-with="Oyo">Ibadan South-East</option>                                      
    <option data-available-with="Oyo">Ibadan South-West</option>                                      
    <option data-available-with="Oyo">Ibarapa Central</option>                                      
    <option data-available-with="Oyo">Ibarapa East</option>                                      
    <option data-available-with="Oyo">Ibarapa North</option>                                      
    <option data-available-with="Oyo">Ido</option>                                      
    <option data-available-with="Oyo">Irepo</option>                                      
    <option data-available-with="Oyo">Iseyin</option>                                      
    <option data-available-with="Oyo">Itesiwaju</option>                                      
    <option data-available-with="Oyo">Iwajowa</option>                                      
    <option data-available-with="Oyo">Kajola</option>                                      
    <option data-available-with="Oyo">Lagelu, Oyo</option>                                      
    <option data-available-with="Oyo">Ogbomosho North</option>                                      
    <option data-available-with="Oyo">Ogbomosho South</option>                                      
    <option data-available-with="Oyo">Ogo Oluwa</option>                                      
    <option data-available-with="Oyo">Olorunsogo</option>                                      
    <option data-available-with="Oyo">Oluyole</option>                                      
    <option data-available-with="Oyo">Ona Ara</option>                                      
    <option data-available-with="Oyo">Orelope</option>                                      
    <option data-available-with="Oyo">Ori Ire</option>                                      
    <option data-available-with="Oyo">Oyo East</option>                                      
    <option data-available-with="Oyo">Oyo West</option>                                      
    <option data-available-with="Oyo">Saki East</option>                                      
    <option data-available-with="Oyo">Saki West</option>                                      
    <option data-available-with="Oyo">Surulere</option>                                      
    <option data-available-with="Plateau">Barkin Ladi</option>                                      
    <option data-available-with="Plateau">Bassa</option>                                      
    <option data-available-with="Plateau">Bokkos</option>                                      
    <option data-available-with="Plateau">Jos East</option>                                      
    <option data-available-with="Plateau">Jos North</option>                                      
    <option data-available-with="Plateau">Jos South</option>                                      
    <option data-available-with="Plateau">Kanam</option>                                      
    <option data-available-with="Plateau">Kanke</option>                                      
    <option data-available-with="Plateau">Langtang North</option>                                      
    <option data-available-with="Plateau">Langtang South</option>                                      
    <option data-available-with="Plateau">Mangu</option>                                      
    <option data-available-with="Plateau">Mikang</option>                                      
    <option data-available-with="Plateau">Pankshin</option>                                      
    <option data-available-with="Plateau">Qua'an Pan</option>                                      
    <option data-available-with="Plateau">Riyom</option>                                      
    <option data-available-with="Plateau">Shendam</option>                                      
    <option data-available-with="Plateau">Wase</option>                                                                          
    <option data-available-with="Rivers">AbuaOdual</option>                                      
    <option data-available-with="Rivers">Ahoada East</option>                                      
    <option data-available-with="Rivers">Ahoada West</option>                                      
    <option data-available-with="Rivers">Akuku-Toru</option>                                      
    <option data-available-with="Rivers">Andoni</option>                                      
    <option data-available-with="Rivers">Asari-Toru</option>                                      
    <option data-available-with="Rivers">Bonny</option>                                      
    <option data-available-with="Rivers">Degema</option>                                      
    <option data-available-with="Rivers">Eleme</option>                                      
    <option data-available-with="Rivers">Emohua</option>                                      
    <option data-available-with="Rivers">Etche</option>                                      
    <option data-available-with="Rivers">Gokana</option>                                      
    <option data-available-with="Rivers">Ikwerre</option>                                      
    <option data-available-with="Rivers">Khana</option>                                      
    <option data-available-with="Rivers">Obio-Akpor</option>                                      
    <option data-available-with="Rivers">OgbaEgbemaNdoni</option>                                      
    <option data-available-with="Rivers">OguBolo</option>                                      
    <option data-available-with="Rivers">Okrika</option>                                      
    <option data-available-with="Rivers">Omuma</option>                                      
    <option data-available-with="Rivers">OpoboNkoro</option>                                      
    <option data-available-with="Rivers">Oyigbo</option>                                      
    <option data-available-with="Rivers">Port Harcourt</option>                                      
    <option data-available-with="Rivers">Tai, Rivers</option>                                                                           
    <option data-available-with="Sokoto">Binji</option>                                      
    <option data-available-with="Sokoto">Bodinga</option>                                      
    <option data-available-with="Sokoto">Dange Shuni</option>                                      
    <option data-available-with="Sokoto">Gada</option>                                      
    <option data-available-with="Sokoto">Goronyo</option>                                      
    <option data-available-with="Sokoto">Gudu</option>                                      
    <option data-available-with="Sokoto">Gwadabawa</option>                                      
    <option data-available-with="Sokoto">Illela</option>                                      
    <option data-available-with="Sokoto">Isa</option>                                      
    <option data-available-with="Sokoto">Kebbe</option>                                      
    <option data-available-with="Sokoto">Kware</option>                                      
    <option data-available-with="Sokoto">Rabah</option>                                      
    <option data-available-with="Sokoto">Sabon Birni</option>                                      
    <option data-available-with="Sokoto">Shagari</option>                                      
    <option data-available-with="Sokoto">Silame</option>                                      
    <option data-available-with="Sokoto">Sokoto North</option>                                      
    <option data-available-with="Sokoto">Sokoto South</option>                                      
    <option data-available-with="Sokoto">Tambuwal</option>                                      
    <option data-available-with="Sokoto">Tangaza</option>                                      
    <option data-available-with="Sokoto">Tureta</option>                                      
    <option data-available-with="Sokoto">Wamako</option>                                      
    <option data-available-with="Sokoto">Wurno</option>                                      
    <option data-available-with="Sokoto">Yabo</option>                                                                        
    <option data-available-with="Taraba">Ardo Kola</option>                                      
    <option data-available-with="Taraba">Bali</option>                                      
    <option data-available-with="Taraba">Donga</option>                                      
    <option data-available-with="Taraba">Gashaka</option>                                      
    <option data-available-with="Taraba">Gassol</option>                                      
    <option data-available-with="Taraba">Ibi</option>                                      
    <option data-available-with="Taraba">Jalingo</option>                                      
    <option data-available-with="Taraba">Karim Lamido</option>                                      
    <option data-available-with="Taraba">Kurmi</option>                                      
    <option data-available-with="Taraba">Lau</option>                                      
    <option data-available-with="Taraba">Sardauna</option>                                      
    <option data-available-with="Taraba">Takum</option>                                      
    <option data-available-with="Taraba">Ussa</option>                                      
    <option data-available-with="Taraba">Wukari</option>                                      
    <option data-available-with="Taraba">Yorro</option>                                      
    <option data-available-with="Taraba">Zing</option>                                                                        
    <option data-available-with="Yobe">Bade</option>                                      
    <option data-available-with="Yobe">Bursari</option>                                      
    <option data-available-with="Yobe">Damaturu</option>                                      
    <option data-available-with="Yobe">Geidam</option>                                      
    <option data-available-with="Yobe">Gujba</option>                                      
    <option data-available-with="Yobe">Gulani</option>                                      
    <option data-available-with="Yobe">Fika</option>                                      
    <option data-available-with="Yobe">Fune</option>                                      
    <option data-available-with="Yobe">Jakusko</option>                                      
    <option data-available-with="Yobe">Karasuwa</option>                                      
    <option data-available-with="Yobe">Machina</option>                                      
    <option data-available-with="Yobe">Nangere</option>                                      
    <option data-available-with="Yobe">Nguru</option>                                      
    <option data-available-with="Yobe">Potiskum</option>                                      
    <option data-available-with="Yobe">Tarmuwa</option>                                      
    <option data-available-with="Yobe">Yunusari</option>                                      
    <option data-available-with="Yobe">Yusufari</option>                                                                         
    <option data-available-with="Zamfara">Anka</option>                                      
    <option data-available-with="Zamfara">Bakura</option>                                      
    <option data-available-with="Zamfara">Birnin Magaji/Kiyaw</option>                                      
    <option data-available-with="Zamfara">Bukkuyum</option>                                      
    <option data-available-with="Zamfara">Bungudu</option>                                      
    <option data-available-with="Zamfara">Tsafe</option>                                      
    <option data-available-with="Zamfara">Gummi</option>                                      
    <option data-available-with="Zamfara">Gusau</option>                                      
    <option data-available-with="Zamfara">Kaura Namoda</option>                                      
    <option data-available-with="Zamfara">Maradun</option>                                      
    <option data-available-with="Zamfara">Maru</option>                                      
    <option data-available-with="Zamfara">Shinkafi</option>                                      
    <option data-available-with="Zamfara">Talata Mafara</option>                                      
    <option data-available-with="Zamfara">Zurmi</option>                                                                       					        
</select>