
<select name="state" id="stateoforigin" class="form-control" style="width: 100%" required>
    <option selected="selected" data-available-with disabled>Select State</option>
        <option value="Abia" data-available-with="nig">Abia</option>
        <option value="Adamawa" data-available-with="nig">Adamawa</option>
        <option value="Akwa-Ibom" data-available-with="nig">Akwa-Ibom</option>
        <option value="Anambra" data-available-with="nig">Anambra</option>
        <option value="Bauchi" data-available-with="nig">Bauchi</option>
        <option value="Bayelsa" data-available-with="nig">Bayelsa</option>
        <option value="Benue" data-available-with="nig">Benue</option>
        <option value="Borno" data-available-with="nig">Borno</option>
        <option value="Cross-river" data-available-with="nig">Cross-River</option>
        <option value="Delta" data-available-with="nig">Delta</option>
        <option value="Ebonyi" data-available-with="nig">Ebonyi</option>
        <option value="Edo"  data-available-with="nig">Edo</option>
        <option value="Ekiti" data-available-with="nig">Ekiti</option>
        <option value="Enugu" data-available-with="nig">Enugu</option>
        <option value="FCT" data-available-with="nig">FCT</option>
        <option value="Gombe" data-available-with="nig">Gombe</option>
        <option value="Imo"  data-available-with="nig">Imo</option>
        <option value="Jigawa" data-available-with="nig">Jigawa</option>
        <option value="Kaduna" data-available-with="nig">Kaduna</option>
        <option value="Kano" data-available-with="nig">Kano</option>
        <option value="Katsina" data-available-with="nig">Katsina</option>
        <option value="Kebbi" data-available-with="nig">Kebbi</option>
        <option value="Kogi" data-available-with="nig">Kogi</option>
        <option value="Kwara" data-available-with="nig">Kwara</option>
        <option value="Lagos" data-available-with="nig">Lagos</option>
        <option value="Nassarawa" data-available-with="nig">Nassarawa</option>
        <option value="Niger" data-available-with="nig">Niger</option>
        <option value="Ogun" data-available-with="nig">Ogun</option>
        <option value="Ondo" data-available-with="nig">Ondo</option>
        <option value="Osun" data-available-with="nig">Osun</option>
        <option value="Oyo"  data-available-with="nig">Oyo</option>
        <option value="Plateau" data-available-with="nig">Plateau</option>
        <option value="Rivers" data-available-with="nig">Rivers</option>
        <option value="Sokoto" data-available-with="nig">Sokoto</option>
        <option value="Taraba" data-available-with="nig">Taraba</option>
        <option value="Yobe" data-available-with="nig">Yobe</option>
        <option value="Zamfara" data-available-with="nig">Zamfara</option>					        
</select>