<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

 <div class="pcoded-content">
        <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
            <div class="page-wrapper">
                <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                <!-- Page header start -->
                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Imaging </h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Add Investigation</a>
                            </li>
                            <li class="breadcrumb-item"><a href="/investigation-list">Investigation List</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page header end -->
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Add Imaging </h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-sm-12 mobile-inputs">
                                            <form method="POST">
                                                <!-- <div class="form-group">
                                                    <input type="text" class="form-control form-txt-primary" placeholder=".form-txt-primary">
                                                </div> -->
                                                <div class="form-group">
                                                    
                                                    <!-- <div class="col-sm-12"> -->
                                                        <label for="">Imaging Name</label>
                                                        <input type="text" name="investigation" class="form-control" placeholder="Investigation Name" required><br>
                                                    <!-- </div> -->
                                                        <label for="">Description</label>
                                                        <input type="text" name="description" class="form-control" placeholder="Description" required><br>

                                                        <!-- <label for="">Price</label>
                                                        <input type="number" name="price" class="form-control" placeholder="Price" required> -->
                                                </div>
                                                <button type="submit" class="btn btn-info float-right">Add Imaging</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Basic Form Inputs card end -->
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
        <!-- Main-body end -->
        <!-- <div id="styleSelector">

        </div> -->
    </div>
</div>

<% include ../../partials/footerCopy %>