<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
        <div class="pcoded-inner-content">

            <!-- Main-body start -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                    <!-- Page header start -->
                    <div class="page-header">
                        <div class="page-header-title">
                            <h4>Lab Inventory</h4>
                            
                        </div>
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="/dashboard">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item"><a href="/lab-items">Items</a>
                                </li>
                                <li class="breadcrumb-item"><a href="/add-lab-items">Add Item</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Page header end -->
                    <!-- Page body start -->
                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Basic Form Inputs card start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>New Item</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-sm-12 mobile-inputs">
                                                <form method="POST">
                                                    <!-- <div class="form-group">
                                                        <input type="text" class="form-control form-txt-primary" placeholder=".form-txt-primary">
                                                    </div> -->
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">Name</label>
                                                            <input type="text" name="name" class="form-control" placeholder=" Name">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="">Description</label>
                                                            <input type="text" name="description" class="form-control" placeholder="Description">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">Quantity</label>
                                                            <input type="number" name="quantity" id="quantity" class="form-control" placeholder="Quantity">
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="">Unit</label>
                                                            <select id="unit" name="unit" class="form-control select">
                                                                <option selected disabled>Select</option>
                                                                <option value="Ampoule">Ampoule</option>
                                                                <option value="Bag">Bag</option>
                                                                <option value="Bottle">Bottle</option>
                                                                <option value="Box">Box</option>
                                                                <option value="Bundle">Bundle</option>
                                                                <option value="Carton">Carton</option>
                                                                <option value="Container">Container</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">Cost Price per Unit (₦)</label>
                                                            <input type="number" name="price" id="sale_price" class="form-control" placeholder="Price">
                                                        </div>
                                                        <div class="col-sm-6">
                                                                <label for="">Purchase Cost(₦)</label>
                                                                <input type="number" name="cost" class="form-control" id="cost" placeholder="" readonly>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">Selling Price (₦)</label>
                                                            <input type="number" name="sell_price" id="sell_price" class="form-control" placeholder="Selling Price">
                                                        </div>
                                                        <div class="col-sm-6">
                                                                <label for="">Expected Income(₦)</label>
                                                                <input type="number" name="income" class="form-control" id="income" readonly>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                    <label for="">Date Received</label>
                                                                   <input type="date" name="received" class="form-control" placeholder="Quantity">
                                                            </div>
                                                            <div class="col-sm-6">
                                                                    <label>Expiration Date</label>
                                                                    <input type="date" name="expiration" class="form-control" placeholder="Expiration">
                                                            </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label>Vendor</label>
                                                            <select name="vendor" class="form-control js-example-basic-single" required>
                                                                    <option selected disabled>Select</option>
                                                                    <% vendors.forEach((vendor)=>{  %>
                                                                        <option value="<%= vendor.name %>"><%= vendor.name %></option>
                                                                    <% }) %>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label>Location</label>
                                                            <input type="text" name="location" class="form-control" placeholder="Location">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label>Serial Number</label>
                                                            <input type="number" name="snum" class="form-control" placeholder="Serial Number">
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-info float-right">Add</button>
                                                    
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Basic Form Inputs card end -->
                            </div>
                        </div>
                    </div>
                    <!-- Page body end -->
                </div>
            </div>
            <!-- Main-body end -->
            <!-- <div id="styleSelector">

            </div> -->
        </div>
    </div>

<% include ../../partials/footerCopy %>