<% include ../../partials/header %>
<% include ../../partials/sidebarCopy %>

<div class="pcoded-content">
        <div class="pcoded-inner-content">

            <!-- Main-body start -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- Flash message -->
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <%= success %>
                        </div>
                <% } %>
                    <!-- Page header start -->
                    <div class="page-header">
                        <div class="page-header-title">
                            <h4>Lab Inventory</h4>
                            
                        </div>
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="/dashboard">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item"><a href="/lab-items">Items</a>
                                </li>
                                <li class="breadcrumb-item"><a href="/add-lab-items">Add Item</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Page header end -->
                    <!-- Page body start -->
                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Basic Form Inputs card start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>New Item</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-sm-12 mobile-inputs">
                                                <form method="POST">
                                                    
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">Item</label>
                                                            <input type="text" name="name" class="form-control" placeholder="Item Name" required>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="">Item Description</label>
                                                            <input type="text" name="description" class="form-control" placeholder="Item Description">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                            <label for="">Product Code</label>
                                                            <input type="text" name="productcode" class="form-control" placeholder=" Product Code" required>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="">Shelf No</label>
                                                            <select  name="shelf" class="form-control select" required>
                                                                <option selected disabled>Select</option>
                                                                <option>A</option>
                                                                <option>B</option>
                                                                <option>C</option>
                                                                <option>D</option>
                                                                <option>E</option>
                                                                <option>F</option>
                                                                <option>G</option>
                                                                <option>H</option>
                                                                <option>I</option>
                                                                <option>J</option>
                                                                <option>K</option>
                                                                <option>L</option>
                                                                <option>M</option>
                                                                <option>N</option>
                                                                <option>O</option>
                                                                <option>P</option>
                                                                <option>Q</option>
                                                                <option>R</option>
                                                                <option>S</option>
                                                                <option>T</option>
                                                                <option>U</option>
                                                                <option>V</option>
                                                                <option>W</option>
                                                                <option>X</option>
                                                                <option>Y</option>
                                                                <option>Z</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        
                                                        <div class="col-sm-6">
                                                            <label for="">Voucher/Ref No</label>
                                                            <input type="text" name="voucher" class="form-control" placeholder="Voucher/Ref No" required>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label>Received From</label>
                                                            <select name="vendor" class="form-control js-example-basic-single" required>
                                                                    <option selected disabled>Select</option>
                                                                    <% users.forEach((user)=>{  %>
                                                                        <% if(user.role == 17){ %>
                                                                        <option value="<%= user._id %>"><%= user.company %></option>
                                                                    <% } %>
                                                                    <% }) %>
                                                            </select>
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="form-group row">
                                                                <div class="col-sm-6">
                                                                    <label for="">Batch No</label>
                                                                    <input type="text" name="batch" class="form-control" placeholder="Batch No" required>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                        <label>Expiration Date</label>
                                                                        <input type="date" name="expiration" class="form-control" placeholder="Expiration Date" required>
                                                                </div>
                                                    </div>
                                                    <h5 style="color:dodgerblue" class="page-title">Quantity</h5><br><br>
                                                    <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                    <label for="">Quantity Received</label>
                                                                    <input type="number" max="300" min="50" name="quantity" id="quantity" class="form-control" placeholder="Quantity Received" required>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                    <label for="">Unit of Measure</label>
                                                                    <select id="unit" name="unit" class="form-control select" required>
                                                                        <option selected disabled>Select</option>
                                                                        <option value="Ampoule">Ampoule</option>
                                                                        <option value="Bag">Bag</option>
                                                                        <option value="Bottle">Bottle</option>
                                                                        <option value="Box">Box</option>
                                                                        <option value="Bundle">Bundle</option>
                                                                        <option value="Carton">Carton</option>
                                                                        <option value="Container">Container</option>
                                                                        <option value="Pack">Pack</option>
                                                                    </select>
                                                            </div>
                                                    </div>
                                                    <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                    <label for="">Loss & Adjustments</label>
                                                                    <input type="number" name="loss" class="form-control" placeholder="Loss & Adjustments">
                                                            </div>
                                                            <div class="col-sm-6">
                                                                    <label for="">Cost Price per Unit (₦)</label>
                                                                    <input type="number" name="price" id="sale_price" class="form-control" placeholder="Price" required>
                                                            </div>
                                                            
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-6">
                                                                <label for="">Purchase Cost(₦)</label>
                                                                <input type="number" name="cost" class="form-control" id="cost" placeholder="" readonly>
                                                        </div>
                                                        <div class="col-sm-6">
                                                                <label for="">Date Received</label>
                                                               <input type="date" name="received" class="form-control" placeholder="Quantity" required>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                    <label for="">Balance</label>
                                                                    <input type="number" name="balance" class="form-control" id="cost" placeholder="Balance" >
                                                            </div> 
                                                            <div class="col-sm-6">
                                                                    <label for="">Remarks</label>
                                                                    <input type="text" name="remarks" class="form-control" id="cost" placeholder="Remarks" >
                                                            </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-info float-right">Add</button>
                                                    
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Basic Form Inputs card end -->
                            </div>
                        </div>
                    </div>
                    <!-- Page body end -->
                </div>
            </div>
            <!-- Main-body end -->
            <!-- <div id="styleSelector">

            </div> -->
        </div>
    </div>

<% include ../../partials/footerCopy %>